.Randomizer {
  padding: 10px;
  background-color: #ffba20;
  max-width: 300px;
  max-height: 260px ;
  height: 100%;
  border-radius: 25px;
  width: 100%;
  margin-left: auto;
  text-align: center;
}
.Randomizer h2 {
  color: #064d54;
}
.Randomizer i {
  cursor: pointer;
  color: #064d54;
  font-size: 40px;
  padding: 25px;
}
.Randomizer img {
  width: 100%;
}
@media screen and (max-width: 1199px) {
  .Randomizer {
    max-width: 250px;
    max-height: 240px;
  }
}
@media screen and (max-width: 999px) {
  .Randomizer {
    max-width: 210px;
    max-height: 200px;
    padding: 7px;
  }
}