.ProductPage {
  display: flex;
}
.ProductPage .video_block {
  max-width: 600px;
}
.ProductPage .video_block video {
  border-radius: 8px;
}
.ProductPage .content {
  display: flex;
  flex-direction: column;
  margin-left: auto;
}
.ProductPage .content .addToCart {
  position: relative;
  display: flex;
  margin-top: 20px;
}
.ProductPage .content .addToCart button.addBtn {
  right: -270px;
}
.ProductPage .content .addToCart span {
  position: absolute;
  color: #ffba20;
  font-size: 26px;
  text-align: center;
  width: 50%;
  left: -10px;
  bottom: -25px;
}
.ProductPage .content .img_block {
  max-width: 280px;
  margin: 83px 0 10px;
}
.ProductPage .content .img_block img {
  max-width: 100%;
  border-radius: 8px;
}
.ProductPage .content .description {
  max-width: 280px;
  margin: 0;
}
@media screen and (max-width: 1199px) {
  .ProductPage .content {
    margin-left: 10px;
  }
  .ProductPage .content .addToCart span {
    font-size: 20px;
    left: -30px;
  }
  .ProductPage .content .addToCart button.addBtn {
    right: -240px;
  }
}
@media screen and (max-width: 999px) {
  .ProductPage {
    flex-direction: column;
  }
  .ProductPage .content {
    margin: -30px auto 100px;
    justify-content: flex-start;
  }
}
@media screen and (max-width: 789px) {
}
@media screen and (max-width: 689px) {
}
