.ProductList {
  display: flex;
  flex-wrap: wrap;
}
.ProductList a img {
  width: 100%;
  border-top-right-radius: 7px;
  border-top-left-radius: 7px;
  padding-bottom: 10px;
}
.ProductList .Product {
  display: flex;
  flex-direction: column;
  margin: 0 25px 25px 0;
  border: 3px solid #ffba20;
  box-shadow: 1px 1px 10px #ffba20;
  border-radius: 10px;
  padding-bottom: 10px;
  background-color: #133b3f;
  position: relative;
  max-width: 250px;
  white-space: nowrap;
  flex-wrap: wrap;
}
.ProductList a {
  padding: 0 10px;
  text-decoration: none;
}
.ProductList a:first-child {
  padding: 0;
}
.ProductList span {
  padding: 0 25px 10px;
  color: #ffba20;
  margin-left: auto;
}
