.CartList .CartItem {
  display: flex;
  align-items: center;
  background-color: #133B3F;
  border: 2px solid #FFBA20;
  border-radius: 10px;
  margin-bottom: 15px;
}
.CartList .CartItem img {
  width: 220px;
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
}
.CartList .CartItem a {
  color: #FFBA20;
  text-decoration: none;
  margin: 20px;
  font-size: 30px;
}
.CartList .CartItem span.price {
  font-size: 25px;
  margin: 0 auto;
}
.CartList .CartItem span.remove {
  cursor: pointer;
  margin: 20px;
  font-size: 25px;
}
