.CartList .CartItem {
  display: grid;
  grid-template-columns: 1fr 2fr 0.5fr 0.5fr;
  align-items: center;
  background-color: #133b3f;
  border: 2px solid #ffba20;
  border-radius: 10px;
  margin-bottom: 15px;
}
.CartList .CartItem img {
  width: 220px;
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
}
.CartList .CartItem a {
  color: #ffba20;
  text-decoration: none;
  margin: 20px;
  font-size: 30px;
}
.CartList .CartItem span.price {
  color: #ffba20;
  font-size: 25px;
}
.CartList .CartItem span.remove {
  cursor: pointer;
  margin: 0 15px 0 auto;
  font-size: 25px;
}
@media screen and (max-width: 1199px) {
  .CartList .CartItem a {
    font-size: 24px;
  }
}
@media screen and (max-width: 789px) {
  .CartList .CartItem a {
    font-size: 20px;
  }
  .CartList .CartItem span.remove {
    font-size: 20px;
  }
  .CartList .CartItem span.price {
    font-size: 20px;
  }
}
@media screen and (max-width: 689px) {
  .CartList .CartItem a {
    font-size: 18px;
  }
  .CartList .CartItem span.remove {
    font-size: 18px;
  }
  .CartList .CartItem span.price {
    font-size: 18px;
  }
}
@media screen and (max-width: 570px) {
  .CartList .CartItem a {
    font-size: 16px;
  }
  .CartList .CartItem span.remove {
    font-size: 16px;
  }
  .CartList .CartItem span.price {
    font-size: 16px;
  }
}