.AddToCart {
  position: relative;
  padding-bottom: 15px;
}
.AddToCart .addBtn {
  background-color: #6200ee;
  color: white;
  max-width: 100px;
  width: 100px;
  border: none;
  border-radius: 3px;
  padding: 5px 10px;
  cursor: pointer;
  font-family: "Signika Negative", sans-serif;
  position: absolute;
  right: 10px;
  bottom: -20px;
  z-index: 1;
}
.AddToCart .addBtn:active {
  background-color: rgb(180, 105, 180);
}
.AddToCart span {
  position: absolute;
  right: 30px;
  top: 10px;
}
