.HomeList {
  display: flex;
  flex-direction: column;
}
.HomeList .top_home {
  display: flex;
  flex-wrap: wrap;
}
.HomeList .slider {
  max-width: 610px;
  box-sizing: border-box;
  border-radius: 25px;
  border: 2px solid #ffba20;
  vertical-align: bottom;
}
.HomeList .slider_img {
  width: 100%;
}
.HomeList img {
  border-radius: 25px;
  width: 100%;
  position: relative;
  vertical-align: bottom;
}
.HomeList .HomeProduct {
  position: relative;
}
.HomeList .HomeProduct .content {
  position: absolute;
  display: block;
  transition: 300ms;
  min-width: 100%;
}
.HomeList .HomeProduct .content a {
  color: #064d54;
  font-size: 24px;
  text-decoration: none;
}
.HomeList .HomeProduct .content span {
  color: #064d54;
  font-size: 24px;
  margin-left: 30%;
}
.HomeList .HomeProduct:hover .content {
  display: block;
  transform: translateY(-109px);
  backdrop-filter: blur(15px);
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  background-color: #ffb820bb;
  min-width: 90%;
  padding: 40px 30px;
}
.HomeList .bottom_home {
  display: flex;
  flex-wrap: wrap;
  margin: 50px 0;
}
.HomeList .bottom_home .Product {
  display: flex;
  margin: 0 auto 30px;
  border: 3px solid #ffba20;
  box-shadow: 1px 1px 10px #ffba20;
  border-radius: 10px;
  padding-bottom: 10px;
  background-color: #133b3f;
  position: relative;
  max-width: 250px;
  white-space: nowrap;
  flex-wrap: wrap;
}
.HomeList .bottom_home .Product img {
  width: 100%;
  border-radius: 0;
  border-top-right-radius: 7px;
  border-top-left-radius: 7px;
  padding-bottom: 10px;
}
.HomeList .bottom_home a {
  text-decoration: none;
  padding-left: 10px;
}
.HomeList .bottom_home a:first-child {
  padding: 0;
}
.HomeList .bottom_home span {
  padding: 0 25px 10px;
  color: #ffba20;
  margin-left: auto;
}

@media screen and (max-width: 1199px) {
  .HomeList .slider {
    max-width: 490px;
  }
  .HomeList .top_home .HomeProduct  .content {
    padding: 40px 24px 45px;
  }
  .HomeList .HomeProduct .content a {
    font-size: 20px;
  }
  .HomeList .HomeProduct .content span {
    font-size: 20px;
  }
}
@media screen and (max-width: 999px) {
  .HomeList .slider {
    max-width: 385px;
  }
  .HomeList .top_home .HomeProduct .content {
    padding: 30px 19px;
    margin-top: 30px;
  }
  .HomeList .HomeProduct .content a {
    font-size: 16px;
  }
  .HomeList .HomeProduct .content span {
    font-size: 16px;
  }
}
@media screen and (max-width: 789px) {
  .HomeList {
    flex-direction: column;
  }
  .HomeList .slider {
    max-width: 532px;
  }
  .HomeList .top_home .HomeProduct .content {
    padding: 30px 27px;
    margin-top: 30px;
  }
}
@media screen and (max-width: 689px) {
  .HomeList .slider {
    max-width: 520px;
  }
  .HomeList .top_home .HomeProduct .content {
    padding: 30px 27px;
    margin-top: 30px;
  }
}
