.HomeList {
  display: flex;
}
.HomeList .slider {
  max-width: 65%;
  box-sizing: border-box;
  border-radius: 25px;
  border: 2px solid #FFBA20;
}
.HomeList .slider_img {
  max-width: 100%;
}
.HomeList img {
  border-radius: 25px;
  width: 100%;
  position: relative;
  vertical-align:bottom;
}
.HomeList .HomeProduct .content {
  display: none;
  background-color: #ffb820bb;
  position: absolute;
  width: 90%;
  padding: 40px 30px;
}
.HomeList .HomeProduct .content a {
  color: #064d54;
  font-size: 24px;
  text-decoration: none;
}
.HomeList .HomeProduct .content span {
  color: #064d54;
  font-size: 24px;
  margin-left: 30%;
}
.HomeList .HomeProduct:hover .content {
  display: block;
  animation: in-top 500ms ease forwards;
  backdrop-filter: blur(15px);
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
}
@keyframes in-top {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-109px);
  }
}

