.Layout {
  display: grid;
  grid-template-areas:
    "header header"
    "aside main"
    "footer footer";
  grid-template-columns: 1fr 3fr;

  max-width: 1180px;
  margin: 0 auto;
  font-family: "Signika Negative", sans-serif;
  background-color: #171a3bee;
  color: white;
}

.Layout header {
  display: flex ;
  align-items: start;
  grid-area: header;
}
.Layout aside {
  grid-area: aside;
}
.Layout main {
  grid-area: main;
}
.Layout footer {
  grid-area: footer;
}