.CategoryList {
  display: inline-block;
  position: relative;
  color: white;
  background-color: #141b6583;
  width: 60px;
  height: 60px;
  border-radius: 30px;
  transition: all 300ms ease;
}
.CategoryList ul {
  padding: 0;
}
.CategoryList li {
  list-style-type: none;
}
.CategoryList li:hover {
  background-color: #39429f31;
}
.CategoryList a {
  text-align: center;
  display: block;
  padding: 10px;
  text-decoration: none;
  color: white;
}
.CategoryList a:hover {
  transform: translate(5px);
  transition: all 300ms ease-in-out;
}

.CategoryList nav {
  text-align: center;
  display: none;
  padding: 10px 0;
  z-index: 2;
}
.CategoryList:hover {
  display: block;
  width: 200px;
  height: 60%;
  transition: all 300ms ease;
}
.CategoryList:hover nav {
  display: block;
}
.CategoryList i {
  margin: 28px 20px;
}
.CategoryList:hover i {
  display: none;
}