.CategoryList {
  position: relative;
  display: inline-block;
  background-color: #ffba20;
  width: 60px;
  height: 550px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  border-top-right-radius: 35px;
  border-top-left-radius: 35px;
  border-bottom-left-radius: 35px;
  border-bottom-right-radius: 35px;
  font-family: inherit;
}
.CategoryList h3 {
  color: #064d54;
}
.CategoryList ul {
  padding: 0;
}
.CategoryList li {
  list-style-type: none;
}
.CategoryList li:hover {
  background-color: #FFCB58;
}
.CategoryList a {
  text-align: center;
  display: block;
  padding: 10px;
  text-decoration: none;
  color: #064d54;
}
.CategoryList a:hover {
  transform: translate(5px);
  transition: all 300ms ease-in-out;
}
.CategoryList i {
  margin: 28px 20px;
  color: #064d54;
}
.CategoryList nav {
  text-align: center;
  display: none;
  position: absolute;
  background-color: #ffba20;
  min-width: 200px;
  min-height: 550px;
  z-index: 1;
  margin: 0;
  border-radius: 30px;
  padding: 0;
}
.CategoryList:hover nav {
  display: block;
}
.CategoryList:hover i {
  display: none;
}
.CategoryList h2 {
  color: #064d54;
  transform: rotate(-90deg);
  margin-top: 225px;
}
.CategoryList:hover h2 {
  display: none;
}
