.Nav {
  width: 100%;
  background-color: #064D54;
  display: flex;
}
.Nav ul {
  display: flex;
  margin: 0 auto 0 10px;
}
.Nav .NavItem {
  padding: 25px 0;
  list-style-type: none;
}
.Nav .NavItem a {
  padding: 25px;
  text-decoration: none;
}
.Nav .NavItem a:hover {
  background-color: #39429f31;
  border: 3px solid #39419fad;
}
