.Nav {
  background-color: #171a3b;
  display: flex;
}
.Nav ul {
  display: flex;
  margin: 0;
}
.Nav .NavItem {
  padding: 20px;
  list-style-type: none;
}
.Nav .NavItem a {
  text-decoration: none;
  color: white;
}
.Nav label input {
  border-radius: 10px;
  margin: 10px 0 0 0;
}
.Nav .logo {
  max-width: 70px;
}
