.Nav {
  background-color: #171a3b;
}
.Nav ul {
display: flex;
  margin: 0;
}
.Nav .NavItem {
  padding: 25px;
  list-style-type: none;
}
.Nav .NavItem a {
  text-decoration: none;
  color: white;
}

