.Auth .signIn {
  margin: 13px 0 0 0;
  cursor: pointer;
}
.Auth {
  display: flex;
  font-size: 20px;
  margin: 23px 0 0 0;
}
.Auth .signOff {
  margin: 12px 0 0 10px;
  cursor: pointer;
}
.Auth a {
  text-decoration: none;
}
